<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revolute</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class = "background">
        <div class = "topnav">
            <a href="/">Tongtong.inc</a>
        </div>

        <div style=" max-height: fit-content; min-height: 100dvh; display: grid; align-items: center; color: #ffffff; font-size: 30px;">
            fdasfdasdfassd intro animation of the sw placed here where it kinda fades out of the black screen
        </div>

        <div class = "showcasecontainer">
            <div class = "showcase"></div>

            <div class="showcasetext">fasdfasdfasdfasd introducing the revolute and what it is because its such a
             unique product ppl dont know what it is and what it does
            </div>
            
        </div>

        <div style="width: 100dvw; display: flex; flex-direction:column; align-items: center;  padding-bottom: 3em; background-color: #000000; padding-top: 6em;">
            <div class="textcontainer" style="max-width: none;">
                <div class="caption">
                  caption thing for video demos???
                </div>

                <div id="image-container"  style=" width:85dvw; aspect-ratio: 16/11 auto; padding: 0;   " >
      
                    <div class="image" style="  left: 0; height: max-content;">
                      <video class="video-bg" poster="images/Revolute/Demo/1.png" muted defaultmuted playsinline autoplay loop  style="width: 100%; ">
                        <source src="images/Revolute/Demo/1.mp4" type="video/mp4" />

                        <div>
                            demo vid whatever and descriptions yadayada
                        </div>

                        </video>
                    </div>
                    <div class="image" style="  left: 100%; height: max-content;">
                      <video class="video-bg" poster="images/Revolute/Demo/2.png" muted defaultmuted playsinline autoplay loop  style="width: 100%; ">
                        <source src="images/Revolute/Demo/2.mp4" type="video/mp4" />

                        <div>
                            demo vid whatever and descriptions yadayada
                        </div>

                        </video>
                    </div>
                    <div class="image" style="  left: 200%; height: max-content; ">
                      <video class="video-bg" poster="images/Revolute/Demo/3.png" muted defaultmuted playsinline autoplay loop  style="width: 100%; ">
                        <source src="images/Revolute/Demo/3.mp4" type="video/mp4" />

                        <div>
                            demo vid whatever and descriptions yadayada
                        </div>

                        </video>
                    </div>
                    <div class="image" style="  left: 300%; height: max-content;">
                      <video class="video-bg" poster="images/Revolute/Demo/4.png" muted defaultmuted playsinline autoplay loop  style="width: 100%; ">
                        <source src="images/Revolute/Demo/4.mp4" type="video/mp4" />

                        <div>
                            demo vid whatever and descriptions yadayada
                        </div>

                        </video>
                    </div>
          
                    <div id="controls">
                      <div id="prevBtn" >   </div>
                      <div id="nextBtn">  </div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "showcasecontainer">
            <div class="showcasetext">
                fasdfasdfasdfasd displaying its inside features or smt about 
                hte pcb and sensor smt about hte encoder being more durable or smt like that blahbalbhabhal
            </div>
            <div class = "showcase"></div>
        </div>

        <div class = "showcasecontainer">
            <div class = "showcase"></div>

            <div class="showcasetext">
                jkjl;jsdofjpoaisdj more of the previous stuff and more about how teh sw workds 
                and stuff for example how you can configure it or how the ble thing works or smt like that 
            </div>
            
        </div>

    </div>    
</body>

</html>